@use "./partials/reset.scss";
@use "./partials/variables.scss";

// font-family: 'Inter', sans-serif;
// font-family: 'Montserrat', sans-serif;


.container{
    width: 1140px;
    margin: 0 auto;
}

.row{
    display: flex;
}

.col-2{
    flex-basis: calc(100%/12*2);
}

h1{
    font-size: 64px;
    font-weight: 900;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

span{
    background-color: rgba(122, 236, 236, 0.2);
    padding: 0 1rem;
}