:root{
    --primary-dark:#21333E;
    --primary: #058283;
    --primary-ligth:#62C1CC;
    

    --bg-dark:#111117;
    --bg-dark-ligth:#19191F;
    --bg-primary: #DAECED;
    --bg-grey:#ECECEC;
    --bg-ligth:#EEF4ED;

    --text:#a2adae;

}